.qty-input {
  color: #000;
  background: #fff;
  display: flex;
  overflow: hidden;
}
.qty-input .product-qty,
.qty-input .qty-count {
  background: transparent;
  color: inherit;
  font-size: 0.6rem !important;
  border: none;
  display: inline-block;
  min-width: 0;
  line-height: 0;
}
.qty-input .product-qty:focus,
.qty-input .qty-count:focus {
  outline: none;
}
.qty-input .product-qty {
  min-width: 0;
  display: inline-block;
  text-align: center;
  appearance: textfield;
}
.qty-input .product-qty::-webkit-outer-spin-button,
.qty-input .product-qty::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.qty-input .qty-count {
  padding: 0;
  cursor: pointer;
  width: 1rem;
  font-size: 1em;
  text-indent: -100px;
  overflow: hidden;
  position: relative;
}
.qty-input .qty-count:before,
.qty-input .qty-count:after {
  content: "";
  height: 0.06em;
  width: 0.4em;
  position: absolute;
  display: block;
  background: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.qty-input .qty-count--add:after {
  transform: rotate(90deg);
}
.qty-input .qty-count:disabled {
  color: #ccc;
  background: #f2f2f2;
  cursor: not-allowed;
  border-color: transparent;
}
.qty-input .qty-count:disabled:before,
.qty-input .qty-count:disabled:after {
  background: #ccc;
}

.qty-input {
  border-radius: 2em;
  box-shadow: 0 0em 0.1em 0.01em rgba(0, 0, 0, 0.7);
  transform: scale(1.5);
  width: fit-content;
}
