<div class="container h-100 d-flex justify-content-center align-items-center">
  <!-- your form container -->
  <div class="container col-sm-4 p-4 mb-4 shadow-lg rounded-4">
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="text-center">
        <a [routerLink]="['/home']"
          ><img
            class="mb-2"
            src="farshop-logo.png"
            alt=""
            width="90"
            height="90"
        /></a>

        <h3 class="h3 mb-4 fw-normal">
          {{ "user.signin.form.title" | translate }}
        </h3>
      </div>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "user.signin.form.email-label" | translate }}</mat-label>
        <input matInput formControlName="email" fullWidth />

        @if (isSubmitted() && signinForm.controls.email.hasError('required')) {
        <mat-error>{{ "general.error.form.required" | translate }}</mat-error>
        } @if (isSubmitted() && signinForm.controls.email.hasError('email')) {
        <mat-error>{{
          "general.error.form.email-invalid" | translate
        }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="mt-2 w-100">
        <mat-label>{{
          "user.signin.form.password-label" | translate
        }}</mat-label>
        <input matInput type="password" formControlName="password" fullWidth />

        @if (isSubmitted() && signinForm.controls.password.hasError('required'))
        {
        <mat-error>{{ "general.error.form.required" | translate }}</mat-error>
        }
      </mat-form-field>

      <div class="mt-2">
        <button
          class="btn btn-lg btn-block w-100"
          type="submit"
          color="primary"
          mat-flat-button
        >
          {{ "general.button.signin" | translate }}
        </button>
      </div>
    </form>
    <div class="mt-4 d-flex justify-content-md-between">
      <a class="text-decoration-none" [routerLink]="['/forget_password']">
        {{ "user.signin.forgot-password" | translate }}</a
      >
      <a class="text-decoration-none" [routerLink]="['/home']">
        {{ "home.title" | translate }}</a
      >
    </div>
  </div>
</div>
