/* Responsive */
@media only screen and (max-width: 1199px) {
  .main-container {
    padding-top: 5rem !important;
  }
}

@media only screen and (max-width: 991px) {
  .main-container {
    padding-top: 5rem !important;
  }
}

@media only screen and (max-width: 767px) {
  .main-container {
    padding-top: 5rem !important;
  }
}

@media only screen and (max-width: 575px) {
  .main-container {
    padding-top: 5rem !important;
  }
}

@media only screen and (max-width: 479px) {
  .main-container {
    padding-top: 8rem !important;
  }
}
