<div class="product_details">

    <div class="d-flex flex-row align-items-center justify-content-md-between">
        <app-product-price-view [product]="product()" [size]="'lg'" [showFinalPrice]="true" />
        <div class="product_favorite  align-items-end ">
            <i class="bi bi-heart product_favorite_heart" aria-hidden="true"></i>
        </div>
    </div>
    <div class="mt-3">
        <app-quantity-input-custom [(quantity)]="quantity" />
    </div>

    <div class="justify-content-star mt-4">
        <app-theme-button title="{{'general.button.add-to-cart' | translate}}" [buttonColor]="'green_button'"
            (click)="addToCart()" />
    </div>

    <div class="justify-content-star mt-4">
        <app-theme-button title="{{'general.button.checkout' | translate}}" (click)="checkout()" />
    </div>

    <div class="justify-content-star mt-4">
        <app-theme-button title="{{'general.button.buy-now' | translate}}" [buttonColor]="'yellow_button'" />
    </div>
</div>