<div class="product-card p-3 mb-2 shadow-lg">
    <div class="row align-items-center">
        <div class="col-md-2 justify-content-start text-start">
            <img src="https://images.unsplash.com/photo-1528148343865-51218c4a13e6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwzfHxoZWFkcGhvbmV8ZW58MHwwfHx8MTcyMTMwMzY5MHww&ixlib=rb-4.0.3&q=80&w=1080"
                alt="Product" class="product-image img-thumbnail">
        </div>
        <div class="col-md-7 justify-content-start text-start">
            <h6 class="mb-1">{{orderProduct().product!.title}}</h6>
            <p class="text-muted mb-0">
                @if (orderProduct().selectedColor) {
                <span class="text-capitalize">{{orderProduct().selectedColor?.code}}</span>

                }
                @if ((orderProduct().product!.discountPercentage /100) > 0) {
                @if (orderProduct().selectedColor) {
                |
                }
                <span class="badge text-bg-success fs-7 ms-1"> {{
                    (orderProduct().product!.discountPercentage /100) | percent : "1.2-2"
                    }}</span>
                }
            </p>
        </div>
        <div class="col-md-1 justify-content-start text-start">
            <span class="fw-bold">{{orderProduct().quantity}}</span>
        </div>
        <div class="col-md-2 justify-content-start text-start">
            <span class="fw-bold">{{orderProduct().price | currency : 'CAD' : 'symbol-narrow' : '1.2-2'}}</span>
        </div>
    </div>
</div>