<footer class="py-3 my-4">
  <div class="d-flex justify-content-md-between">
    <ul class="nav justify-content-left pb-3 mb-3">
      <li class="nav-item">
        <a [routerLink]="['']" class="nav-link px-2 text-dark">{{
          "footer.menu.home" | translate | uppercase
        }}</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['categories']" class="nav-link px-2 text-dark">{{
          "footer.menu.categories" | translate | uppercase
        }}</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['contact']" class="nav-link px-2 text-dark">{{
          "footer.menu.contact" | translate | uppercase
        }}</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['about']" class="nav-link px-2 text-dark">{{
          "footer.menu.about" | translate | uppercase
        }}</a>
      </li>
    </ul>
    <ul class="nav justify-content-end d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="#"
          ><i class="bi bi-twitter"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="#"
          ><i class="bi bi-instagram"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="#"
          ><i class="bi bi-facebook"></i>
        </a>
      </li>
    </ul>
  </div>

  <p class="text-center text-dark">
    {{ "footer.copyright" | translate }}
  </p>
</footer>
