/*********************************
Newsletter
*********************************/
$app-text-color: #51545f;
$app-fancy-red-color: #fe4c50;

.newsletter {
  width: 100%;
  background: #f2f2f2;
}
.newsletter_text {
  height: 120px;
}
.newsletter_text h4 {
  margin-bottom: 0px;
  line-height: 24px;
}
.newsletter_text p {
  margin-bottom: 0px;
  line-height: 1.7;
  color: $app-text-color;
}
.newsletter_form {
  height: 120px;
}
#newsletter_email {
  width: 300px;
  height: 46px;
  background: #ffffff;
  border: none;
  padding-left: 20px;
}
#newsletter_email:focus {
  border: solid 1px #7f7f7f !important;
  box-shadow: none !important;
}
:focus {
  outline: none !important;
}
#newsletter_email::-webkit-input-placeholder {
  font-size: 14px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}
#newsletter_email:-moz-placeholder /* older Firefox*/ {
  font-size: 14px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}
#newsletter_email::-moz-placeholder /* Firefox 19+ */ {
  font-size: 14px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}
#newsletter_email:-ms-input-placeholder {
  font-size: 14px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}
#newsletter_email::input-placeholder {
  font-size: 14px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}
.newsletter_submit_btn {
  width: 160px;
  height: 46px;
  border: none;
  background: $app-fancy-red-color;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.newsletter_submit_btn:hover {
  background: $app-fancy-red-color;
}

/*********************************
Footer
*********************************/

.footer_nav_container {
  height: 130px;
}
.cr {
  margin-right: 48px;
}
.footer_nav li {
  display: inline-block;
  margin-right: 45px;
}
.footer_nav li:last-child {
  margin-right: 0px;
}
.footer_nav li a,
.cr {
  font-size: 14px;
  color: $app-text-color;
  line-height: 30px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.footer_nav li a:hover,
.cr a,
.cr i {
  color: $app-fancy-red-color;
}
.footer_social {
  height: 130px;
}
.footer_social ul li {
  display: inline-block;
  margin-right: 10px;
}
.footer_social ul li:last-child {
  margin-right: 0px;
}
.footer_social ul li a {
  color: $app-text-color;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  padding: 10px;
}
.footer_social ul li:last-child a {
  padding-right: 0px;
}
