.quantity_selector {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 0.05em #797373;
  background-color: white;
}
.quantity_selector span {
  font-weight: 500;
  color: #232530;
}
.plus,
.minus {
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
}
.plus:hover,
.minus:hover {
  color: #b5aec4;
}
