<div class="row pt-5">
  <!-- User Reviews -->

  <div class="col-lg-6 reviews_col">
    <!-- User Review -->

    <div class="user_review_container d-flex flex-column flex-sm-row">
      <div class="user">
        <div class="user_pic"></div>
        <div class="user_rating">
          <ul class="star_rating">
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          </ul>
        </div>
      </div>
      <div class="review">
        <div class="review_date">27 Aug 2016</div>
        <div class="user_name">Brandon William</div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>

    <!-- User Review -->

    <div class="user_review_container d-flex flex-column flex-sm-row">
      <div class="user">
        <div class="user_pic"></div>
        <div class="user_rating">
          <ul class="star_rating">
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          </ul>
        </div>
      </div>
      <div class="review">
        <div class="review_date">27 Aug 2016</div>
        <div class="user_name">Brandon William</div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>

  <!-- Add Review -->

  <div class="col-lg-6 add_review_col">
    <div class="add_review">
      <form id="review_form" action="post">
        <div>
          <h1>Add Review</h1>
          <input
            id="review_name"
            class="form_input input_name"
            type="text"
            name="name"
            placeholder="Name*"
            required="required"
            data-error="Name is required."
          />
          <input
            id="review_email"
            class="form_input input_email"
            type="email"
            name="email"
            placeholder="Email*"
            required="required"
            data-error="Valid email is required."
          />
        </div>
        <div>
          <h1>Your Rating:</h1>
          <ul class="user_star_rating">
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          </ul>
          <textarea
            id="review_message"
            class="input_review"
            name="message"
            placeholder="Your Review"
            rows="4"
            required
            data-error="Please, leave us a review."
          ></textarea>
        </div>
        <div class="text-left text-sm-right">
          <button
            id="review_submit"
            type="submit"
            class="red_button review_submit_btn trans_300"
            value="Submit"
          >
            submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
