<div class="row justify-content-center">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 justify-content-start">
    <div>
      <app-price-range
        [(priceMin)]="priceMin"
        [(priceMax)]="priceMax"
      ></app-price-range>
    </div>

    <div>
      <app-select-sort-products
        [(pageSize)]="pageSize"
        [(pageIndex)]="pageIndex"
        [(sortDirection)]="sortDirection"
        [(sortField)]="sortField"
      ></app-select-sort-products>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    @for (product of products(); track $index) {
    <div class="product-item p-1 mt-4">
      <app-product-preview [product]="product"></app-product-preview>
    </div>
    }
  </div>

  <div class="pt-4 ">
    <mat-paginator
      #paginator
      [pageSizeOptions]="pageSizeOptions"
      (page)="handlePageEvent($event)"
      showFirstLastButtons
      [length]="length()"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      aria-label="Select page of products"
      class="bg-white"
    >
    </mat-paginator>
  </div>
</div>
