<div class="row justify-content-center">
  <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-5 g-2 g-lg-3 text-center">
    <div>
      <app-price-range [(priceMin)]="priceMin" [(priceMax)]="priceMax" />
    </div>

    <div>
      <app-select-sort-products [(pageSize)]="pageSize" [(pageIndex)]="pageIndex" [(sortDirection)]="sortDirection"
        [(sortField)]="sortField" />
    </div>

    <div>
      <app-select-sort-category [(pageSize)]="pageSize" [(pageIndex)]="pageIndex" [(sortValue)]="categoryId"
        [categories]="categories() || []" [defaultField]="categoryIdParam()" />
    </div>
  </div>
  @if (products() && products().length > 0) {
  <app-product-list-details [products]="products()" />
  }@else if (products() && products().length == 0) {
  <app-no-data-found />
  }@else {
  <app-loader />
  }
  <div class="pt-4 ">
    <mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)" showFirstLastButtons
      [length]="productCount()" [pageSize]="pageSize" [pageIndex]="pageIndex" aria-label="Select page of products"
      class="bg-white" />
  </div>
</div>