<div class="product_details">
  <div class="product_details_title">
    <h2>{{ product().title }}</h2>
    <p class="text-truncate">
      {{ product().description }}
    </p>
  </div>
  <div
    class="free_delivery my-3 d-flex flex-row align-items-center justify-content-center"
  >
    <span class="ti-truck"></span><span>free delivery</span>
  </div>
  <div class="d-flex flex-row align-items-center pt-4">
    <app-product-price-view [product]="product()" [size]="'lg'" />

    <div class="ps-5">
      <app-star-rating
        [size]="'lg'"
        [showReviewsNumber]="true"
        [reviews]="product().reviews ? product().reviews : []"
      />
    </div>
  </div>
  <div class="pt-4">
    <app-product-color-select />
  </div>
  <div class="d-flex justify-content-start align-items-baseline">

      <app-product-quantity-input
        [(quantity)]="quantity"
        [idProduct]="product().id"
      />

    <div
      class="product_favorite d-flex flex-column align-items-center justify-content-center"
    >
      <i class="bi bi-heart product_favorite_heart" aria-hidden="true"></i>
    </div>
  </div>
</div>
