$app-fancy-red-color: #fe4c50;
$app-error-color: #f2545b;
$app-button-color-yellow: #ffa41c;
$body-bg: #ffffff;
$body-text-color: #0f1111;
$body-text-color: #0f1111;
$link-hover-color: $app-fancy-red-color;
$nav-link-hover-color: $app-fancy-red-color;
$body-font-family: "Verdana", sans-serif;
$body-font-size: 14px;
$body-font-style: "normal";
$body-line-height: 23px;
$body-font-weight: 400;
