@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900");

* {
  margin: 0;
  padding: 0;
}

.app-theme-color {
  color: $app-theme-color;
}

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-style: $body-font-style;
  line-height: $body-line-height;
  font-weight: $body-font-weight;
  color: $body-text-color;
}

.bg-app-theme-color {
  background: $app-theme-color;
}

/*** Button **/
/*** Button **/
.button-theme:hover {
  opacity: 0.9;
  background: $app-theme-color;
}

.button-theme:hover {
  opacity: 1;
  background: $app-theme-color;
}

ul {
  list-style: none;
  margin-bottom: 0px;
}

div {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.margin-content-app {
  margin-left: 10%;
  margin-right: 10%;
}

.padding-content-app {
  padding-left: 10%;
  padding-right: 10%;
}
.cursor-hand {
  cursor: pointer;
}

.global-bg-color {
  color: #1e1e27;
}
.footer_social ul li a:hover {
  color: $app-theme-color;
}

a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color);
}
.nav-link:hover.nav-underline .nav-link:hover,
.nav-underline .nav-link:focus {
  border-bottom-color: $app-theme-color;
}
.nav-underline .nav-link:hover,
.nav-underline .nav-link:focus {
  border-bottom-color: $app-theme-color;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: $app-theme-color;
}
.error {
  color: $app-error-color;
}
.trans_300 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.fs-7 {
  font-size: 0.7rem !important;
}
/*********************************
Header
*********************************/

.sticky-header {
  position: fixed;
  top: 0;
  z-index: 1020;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
}
.top_nav {
  background: #1e1e27;
}
.top_nav_left {
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  color: #b5aec4;
  text-transform: uppercase;
}

/*********************************
Language
*********************************/

.language {
  display: inline-block;
  position: relative;
  min-width: 50px;
  border-right: solid 1px #33333b;
  text-align: center;
  vertical-align: middle;
  background: #1e1e27;
}
.language > a {
  display: block;
  color: #b5aec4;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  text-decoration: none;
}
.language > a > i {
  margin-left: 8px;
}
.language:hover .language_selection {
  visibility: visible;
  opacity: 1;
  top: 100%;
  z-index: 15;
}
.language_selection {
  display: block;
  position: absolute;
  right: 0;
  top: 120%;
  margin: 0;
  width: 100%;
  background: #ffffff;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
  -webkit-transition: opacity 0.1s none;
  -moz-transition: opacity 0.1s none;
  -ms-transition: opacity 0.1s none;
  -o-transition: opacity 0.1s none;
  transition: all 0.1s none;
}
.language_selection li {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 50px;
}
.language_selection li a {
  display: block;
  color: #232530;
  border-bottom: solid 1px #dddddd;
  font-size: 13px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
.language_selection li a:hover {
  color: #b5aec4;
}
.language_selection li:last-child a {
  border-bottom: none;
}
/*********************************
Product preview
*********************************/
.product-card {
  background: white;
  border-radius: 12px;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-2px);
}

.product-image {
  padding: 0;
  object-fit: cover;
}

.discount-badge {
  background: #dcfce7;
  color: #166534;
  font-size: 0.875rem;
  padding: 0.02rem 0.02rem;
  border-radius: 6px;
}

/*********************************
Account
*********************************/

.account {
  display: inline-block;
  position: relative;
  min-width: 50px;
  text-align: center;
  vertical-align: middle;
  background: #1e1e27;
}
.account > a {
  display: block;
  color: #b5aec4;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  font-size: 13px;

  text-decoration: none;
}
.account > a > i {
  margin-left: 8px;
}
.account:hover .account_selection {
  visibility: visible;
  opacity: 1;
  top: 100%;
  z-index: 15;
}
.account_selection {
  display: block;
  position: absolute;
  right: 0;
  top: 120%;
  margin: 0;
  width: max-content;
  background: #ffffff;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: all 0.3s ease;
}
.account_selection li {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 50px;
}
.account_selection li a {
  display: block;
  color: #232530;
  border-bottom: solid 1px #dddddd;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
.account_selection li a:hover {
  color: #b5aec4;
}
.account_selection li:last-child a {
  border-bottom: none;
}
.account_selection li a i {
  margin-right: 10px;
}

.pt-6 {
  padding-top: 4rem !important;
}

.pt-7 {
  padding-top: 5rem !important;
}

.theme_bg_color {
  background: $app-theme-color;
}

.yellow_button {
  background: $app-button-color-yellow;
}

.green_button {
  background: $app-button-color-green;
}

.input_border {
  border: solid 0.05em #797373;
}
.custom_button {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0.3rem;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.85;
}
.custom_button:hover {
  opacity: 1;
}
.custom_button a {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  width: 100%;
}
a.custom_button,
a.custom_button:hover,
a.custom_button:visited,
a.custom_button:active,
a.custom_button:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.pt-0-15-rem {
  padding-top: 0.15rem !important;
}

/****************************
  Angular Material
****************************/

.mat-error {
  display: flex;
  align-items: center;
}

.mat-error:before {
  /* If Font Awesome Icon font */
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f071";

  color: #f00;
  margin-right: 0.5rem;
}

.success-snackbar {
  .mdc-snackbar__surface {
    background: radial-gradient(
      circle at 10% 20%,
      rgb(15, 213, 172) 0%,
      rgb(34, 182, 198) 100.2%
    );
  }

  .mdc-snackbar__label {
    color: white !important;
  }

  .mdc-button__label {
    color: white !important;
  }
}

.error-snackbar {
  .mdc-snackbar__surface {
    background: linear-gradient(
      102.2deg,
      rgb(250, 45, 66) 9.6%,
      rgb(245, 104, 104) 96.1%
    );
  }

  .mdc-snackbar__label {
    color: white !important;
  }
  .mdc-button__label {
    color: white !important;
  }
}

/****************************
  Responsive
****************************/
@media only screen and (max-width: 767px) {
  .custom_button a {
    font-size: 12px;
  }
}
